body{
		font-family: Segoe UI;
		background: #556B2F;
		color: 	#BDB76B;
	}
	.logo{
		float: left;		
	}
	.logo img{
		width: 250px;
		padding: 20px;
	}
	.menu{
		float: right;
		padding: 40px;
		font-size: 15px;
	}
	.menu a{
		margin-left: 15px;
		margin-right: 15px;
		color: 	#BDB767;
	}
	.bemvindo{
		clear: both;
		padding: 0 20px;
	}