{% extends 'django\base.html' %}
{% block title %} Welcome to the DJANGO	{% endblock %}

{% block content %}
	{% if posts %}	
			{% for post in posts %}
				<h2>
					<a href="{{post.get_url_absoluta}}">{{post.titulo}}</a> 
				</h2>
				<p class="lead">
					por <a href="#">Pombo</a>
				</p><span class="glyphicon glyphicon-time"></span> Postado em {{post.data|date:"d/m/Y"}} às 10:00PM
				<p>
					{{post.corpo}}	
				</p>
				<a href="{{post.get_url_absoluta}}" class="btn btn-primary"> Leia Mais <span class="glyphicon glyphicon-chevron-right"></span></a>
			{% endfor %}	
	{% else %}
		<p>Não há nenhum post adicionado</p>
	{% endif %}
	
{% endblock %}	